/* RESETS */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

/* GLOBALS */
html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* STRUCTURE */
body {
  color: #ffffff;
  font-family: 'Lato', 'sans-serif';
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  background: #101013;
}

.splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 720px;
  text-align: center;
}

.splash .text {
  /* float: left; */
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

/* TYPOGRAPHY */
h1 {
  font-family: 'Lato', monospace;
  /* margin: 2.5rem 0.65rem 0 0.65rem; */
  padding: 0.5rem 0 0 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: justify;
  color: #ffffff;
}
.splash h1 {
  margin: 0 1rem 2rem 0;
  font-size: calc(100% + 2vw);
}
p {
  margin: 1rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
  text-align: justify;
  color: #ffffff;
}
span.quote {
  font-style: italic;
}
footer p {
  margin: 0 0.8rem 0.8rem 0.8rem;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: right;
}
.title-code{
  font-weight: 700;
}
.title-macabre {
  font-weight: 300;
}
h1 .title-macabre {
  font-weight: 100;
}
ul, ol {
  margin: 1rem 2rem 1rem 2rem;
  font-size: 1.1rem;
  line-height: 1rem;
  text-align: justify;
  color: #ffffff;
}
li {
  margin: 0 0 0.5rem 1rem;
}
ul.links {
  margin: 1rem 0 1rem 0;
  list-style: none;
}
.links svg {
  margin: 0 0.8rem 0 0;
}

/* LINKS & INTERACTION */
a:link, a:visited {
  text-decoration: none;
  border-bottom: 1px dotted #adadb5;
  color: #adadb5;
  transition: 200ms;
}
a:hover, a:active, a:focus {
  border-bottom: 1px dotted #ffffff;
  color: #ffffff;
  transition: 400ms;
}

/* IMAGES */
.splash img {
  float: left;
  max-width: 150px;
  width: 30%;
  min-width: 100px;
  height: auto;
  margin: 0 2.4rem 1rem 0;
}

@media (max-width: 1024px) {
  .splash {
    max-width: 80%;
  }
}

@media (max-width: 650px) {
  .splash {
    margin: 0 auto;
    width: 100%;
  }
  .splash img {
    width: 120px;
    float: none;
    clear: both;
    text-align: center;
  }
  .splash h1 {
    margin: 1rem;
    font-size: calc(100% + 3vw);
  }
}